
    .defaultFont
    {
        font-family: Bahnschrift, Segoe UI, Gill Sans, Helvetica, Arial, sans-serif;
        color: #FFFFFFE0;
    }

    .monospaceFont
    {
        font-family: Jetbrains Mono NL, Lucida Console, Consolas, monospace;
        color: #FFFFFFE0;
    }

    .tableRow
    {
        color: #FFC000E0;
        cursor: pointer;
    }



    #title
    {
        font-size: 64px;
    }


    #subtitle
    {
        font-size: 32px;
        font-style: italic;
    }

    #horizontalRule
    {
        width: 99%;
        height: 24px;
        border-width: 4px;
        border-top-color: #FFFFFF80;
        border-top-style: dotted;
        border-bottom-style: none;
        border-left-style: none;
        border-right-style: none;
    }

    #tokenInputLabel
    {
        font-size: 24px;
    }

    #tokenInput
    {
        position: relative;
        width: 384px;
        height: 32px;
        background-color: #FFFFFF80;
        color: #000000;
        font-size: 20px;
        outline: none;
        border: none;
        border-radius: 16px;
        border-color: transparent;
    }

    #tokenSubmit
    {
        background-color: #FFFFFFE0;
        border-color: transparent;
        font-size: 24px;
        color: #000000E0;
        width: 160px;
        height: 40px;
        border: none;
        border-radius: 20px;
        border-color: transparent;
        outline: none;
    }

    #tokenInstructions
    {
        color: #FFC000;
    }

    #tableTitle
    {
        font-size: 32px;
    }
